# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Database
*.sqlite3
db.sqlite3

# Django
media/
staticfiles/

# IDE
.vscode/
.idea/
.DS_Store

# Environment variables
.env
.env.local